.DS_Store
__pycache__/
/.vscode
/.ipynb_checkpoints
/data
/old
/venv*
*.ipynb
/build
.coverage
/myenv311
*.csv
*.pdf
*.html
*.json
/oa_pdfs
/archive
/logs
*.log
*.png
*.xml
/tests/**/*.txt
.venv
src/revu/oa_downloader
src/revu.egg-info
tests
run_tests.sh
setup.cfg
test.py
requirements.txt
!docs/
!docs/**
!docs/*.html
!docs/*.json
!docs/**/*.html
!docs/**/*.json